.loader {
  position: relative;
  width: 50px;
  height: 50px;
  
  .yellow {
    width: 10px;
    height: 10px;
    background: #06634a;
    -webkit-animation: food 1.8s infinite linear;
    animation: food 1.8s infinite linear;
  }
  
  .snake_1, .snake_2, .snake_3, .snake_4, .snake_5, .snake_6, .snake_7, .snake_8, .snake_9 {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    -webkit-animation: animate 1.8s infinite linear;
    animation: animate 1.8s infinite linear;
  }
  
  .snake_1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .snake_2 {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }
  
  .snake_3 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .snake_4 {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  
  .snake_5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .snake_6 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
}

@keyframes animate {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 40px;
  }
  50% {
    top: 40px;
    left: 40px;
  }
  75% {
    top: 40px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes food {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


$full: 90px; //the full width of the loader
$single: 30px; //the width of a single block
$double: 60px; //the width of 2 blocks
$element: #15311e; //the little blocks background color
$bg: #74ffb0; //the body background color
$border: 0px; //the little element border width
$opacity: 0.2; //the starting state of the little blocks animation


.pixel-loader {
  width: $full;
  height: $full;
  position: absolute;
  .loader-block {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    opacity: $opacity;
    border: $border solid $element;
    width: $single;
    height: $single;
    background: $element;
    animation: show 1s infinite alternate;
  }
  
  .loader-block:nth-child(1) {
    transform: translate(0, 0);
    animation-delay: 0.1s;
  }
  
  .loader-block:nth-child(2) {
    transform: translate($single, 0);
    animation-delay: 0.2s;
  }
  
  .loader-block:nth-child(3) {
    transform: translate($double, 0);
    animation-delay: 0.3s;
  }
  
  .loader-block:nth-child(4) {
    transform: translate(0, $single);
    animation-delay: 0.4s;
  }
  
  .loader-block:nth-child(5) {
    transform: translate($single, $single);
    animation-delay: 0.5s;
  }
  
  .loader-block:nth-child(6) {
    transform: translate($double, $single);
    animation-delay: 0.6s;
  }
  
  .loader-block:nth-child(7) {
    transform: translate(0, $double);
    animation-delay: 0.7s;
  }
  
  .loader-block:nth-child(8) {
    transform: translate($single, $double);
    animation-delay: 0.8s;
  }
  
  .loader-block:nth-child(9) {
    transform: translate($double, $double);
    animation-delay: 0.9s;
  }
}

@keyframes show {
  from {
    opacity: $opacity;
  }
  to {
    opacity: 1;
  }
}

