.loader {
  position: relative;
  width: 50px;
  height: 50px;
  
  .yellow {
    width: 10px;
    height: 10px;
    background: #06634a;
    -webkit-animation: food 1.8s infinite linear;
    animation: food 1.8s infinite linear;
  }
  
  .snake_1, .snake_2, .snake_3, .snake_4, .snake_5, .snake_6, .snake_7, .snake_8, .snake_9 {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    -webkit-animation: animate 1.8s infinite linear;
    animation: animate 1.8s infinite linear;
  }
  
  .snake_1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .snake_2 {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }
  
  .snake_3 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .snake_4 {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  
  .snake_5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .snake_6 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
}

@keyframes animate {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 40px;
  }
  50% {
    top: 40px;
    left: 40px;
  }
  75% {
    top: 40px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes food {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

